.ex-1-square {
    transition: 2s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: 2s;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: 2s;
}

.ex-3-square:hover {
    border-radius: 100%;
}

.ex-4-square {
    transition: 2s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.2);
}

.ex-6-img {
    transition: 2s;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img {
    transition: 2s;
}

.ex-7-img:hover {
    filter: hue-rotate(90deg) saturate(8);
}

.ex-8-img {
    transition: 2s;
}

.ex-8-img:hover {
    filter: sepia(100%) brightness(150%);
    border-radius: 50px;
}

.ex-9-img {
    transition: 2s;
}

.ex-9-img:hover {
    filter: drop-shadow(5px 5px 8px gray) invert(100%);
    border-radius: 50px;
    transform: scale(1.5);
}

.ex-10-icon {
    animation: gira 2s linear infinite;
}

@keyframes gira {
    0% {
        transform: rotate(360deg);
    }
}

.ex-11-icon {
    animation: gira-ma-non-troppo 2s linear infinite;
}

@keyframes gira-ma-non-troppo {
    0% {
        transform: rotate(0);
    }

    80% {
        transform: rotate(315deg);
    }

    0% {
        transform: rotate(0);
    }
}

.ex-12-button:hover .ex-12-top-white {
    animation: spazio-sopra 1s linear;
}

@keyframes spazio-sopra {
    0% {
        left: 10%;
    }
    50% {
        left: 60%;
    }
    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: spazio-sotto 1s linear;
}

@keyframes spazio-sotto {
    0% {
        right: 20%;
    }
    50% {
        right: 60%;
    }
    100% {
        right: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white {
    animation: spazio-sopra-completo 2s linear;
}
@keyframes spazio-sopra-completo {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: 90%;
        top: -10px;
    }
    45% {
        left: 90%;
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: spazio-sotto-completo 2s linear;
}
@keyframes spazio-sotto-completo {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: 90%;
        bottom: -10px;
    }
    45% {
        right: 90%;
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}
